h2 {
    text-align: center;
}

table {
    border-collapse: collapse;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
  }
  
  th {
    background: #009578;
    color: #ffffff;
    text-align: left;
  }
  
  th,
  td {
    padding: 10px 20px;
  }
  
  tr:nth-child(even) {
    background: #eeeeee;
  }

  th:hover,td:hover {
      background-color: #808080;
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    
}